{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- start: Meta -->
	<meta charset="utf-8">
   <title>{% block title %}The Art of Gratitude{% endblock %}</title>
	<meta name="description" content="Art of Gratitude"/>
	<meta name="keywords" content="gratitude, grateful, journal, happiness" />
	<!-- end: Meta -->
	
	<!-- start: Mobile Specific -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- end: Mobile Specific -->
	
	<!-- start: Facebook Open Graph -->
   <meta property="og:title" content="The Art of Gratitude" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="http://artofgratitude.com" />
   <meta property="og:image" content="https://artofgratitude.com/static/img/art_of_gratitude_logo_small.png" />
   <meta property="og:site_name" content="The Art of Gratitude" />
   <meta property="fb:admins" content="1534875886" />
	<!-- end: Facebook Open Graph -->

    <!-- start: CSS -->
    <link href="{{ media_url }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ media_url }}/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ media_url }}/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ media_url }}/css/angelina-font.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Boogaloo">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Economica:700,400italic">

	<!-- end: CSS -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include "google-analytics.html" %}

</head>
<body>
	
	<!--start: Wrapper -->
	<div id="wrapper">
		
		<!--start: Container -->
		<div class="container">
		
		
			<!--start: Header -->
			<header>
			
				<!--start: Row -->
				<div class="row">
					
					<!--start: Logo -->
					<div class="logo span5">
						<a class="brand" href="/"><h1 class="logo-heading"><img class="logo-image" height="120" width="88.8" src="{{ media_url }}/img/art_of_gratitude_leaf_small.png"/><span class="logo-text">Art of Gratitude</span></h1></a>
					</div>
					<!--end: Logo -->
					
					<!--start: Social Links -->
               <div class="span5"></div>
               <div class="span2">
                  <div class="twitter-follow">
                     <a href="https://twitter.com/30Gratitudes" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @30Gratitudes</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                  </div>
                  <div class="fb-like">
                     <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fartofgratitude.com&amp;send=false&amp;layout=button_count&amp;width=150&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=30" scrolling="no" frameborder="0" allowTransparency="true" style="border:none; overflow:hidden; width:150px; height:30px" ></iframe>
                  </div>
               </div>
					<!--end: Social Links -->

				</div>
				<!--end: Row -->
						
			</header>
			<!--end: Header-->
			
			<!--start: Navigation-->	
         <div class="navbar-outer">
            <div class="navbar navbar-inverse">
               <div class="navbar-inner">
                  <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                        </a>
                        <div class="nav-collapse collapse navbar-left-reset">
                           <ul class="nav">
                              <li class="active"><a href="/">Home</a></li>
                              {% if user.is_authenticated %}
                                 <li><a href="{{ base_url }}{% url gratitude.gratitude.views.profile user.username %}">{% trans 'My Gratitudes' %}</a></li>
                              {% endif %}
                              <li class="dropdown">
                                 <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
                                 <ul class="dropdown-menu">
                                       <li><a href="/site/about">About</a></li>
                                       <li><a href="/site/contact">Contact</a></li>
                                 </ul>
                              </li>
                              <li><a href="/site/resources">Resources</a></li>
                           </ul>
                        </div>
                        <ul class="nav pull-right">
                           {% if user.is_authenticated %}
                              <li><a href="{{ base_url }}{% url gratitude_signout %}">{% trans 'Sign out' %}</a></li>
                           {% else %}
                              <li><a href="{{ login_url }}">{% trans 'Sign in' %}</a></li>
                           {% endif %}
                        </ul>
                  </div>
                  </div>
            </div>
         </div>
			<!--end: Navigation-->
			
		</div>
		<!--end: Container-->
				
		<!--start: Container -->
    	<div class="container">
   
		   <!--start: Row -->
         <div class="row">

            <div class="span12">
                  {% if messages %}
                  <p>
                     <ul class="messages">
                       {% for message in messages %}
                          <li>
                             <div class="{{ message.tags }}"><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}</div>
                          </li>
                       {% endfor %}
                     </ul>
                  </p>
                  {% endif %}
            </div>	
        		<div class="span12">
                  {% block content %}{% endblock %}
						<div class="clear"></div>
        		</div>

      		</div>
			<!-- end: Row -->
   
            <div class="row">
               {% block content-footer %}{% endblock %}
			      <div class="clear"></div>
            </div>
			<!-- end: Row -->
      		
			<hr>
		
		</div>
		<!--end: Container-->
				
		<!--start: Container -->
    	<div class="container">		

			<!-- start: Footer -->
			<div id="footer">
			
				<!-- start: Container -->
				<div class="container">
				
					<!-- start: Row -->
					<div class="row">

						<div class="span4 footer-links">
                     <ul>
                        <li><a href="/site/privacy-policy">Privacy Policy</a></li>
                        <li><a href="/site/terms-of-service">Terms of Use</a></li>
                     </ul>
						</div>
						<div class="span4">
						</div>
						<div class="span4">
						</div>
						<div class="span4">
                     <ul class="social-grid">
                        <li>
                           <div class="social-item">
                              <div class="social-info-wrap">
                                 <div class="social-info">
                                    <div class="social-info-front social-twitter">
                                       <a href="http://twitter.com"></a>
                                    </div>
                                    <div class="social-info-back social-twitter-hover">
                                       <a href="https://twitter.com/30Gratitudes"></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li>
                           <div class="social-item">
                              <div class="social-info-wrap">
                                 <div class="social-info">
                                    <div class="social-info-front social-facebook">
                                       <a href="http://facebook.com"></a>
                                    </div>
                                    <div class="social-info-back social-facebook-hover">
                                       <a href="http://www.facebook.com/artofgratitudejournal"></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
						</div>
					
					</div>
					<!-- end: Row -->	
				
				</div>
				<!-- end: Container  -->

			</div>
			<!-- end: Footer -->
	
		</div>
		<!-- end: Container  -->

	</div>
	<!-- end: Wrapper  -->


	<!-- start: Copyright -->
	<div id="copyright">
	
		<!-- start: Container -->
		<div class="container">
		
			<div class="sixteen columns">
				<p>
					&copy; 2013 Art of Gratitude </p>
			</div>
	
		</div>
		<!-- end: Container  -->
		
	</div>	
	<!-- end: Copyright -->

<!-- start: Java Script -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ media_url }}/js/jquery-1.8.2.js"></script>
<script src="{{ media_url }}/js/bootstrap.js"></script>
<script src="{{ media_url }}/js/flexslider.js"></script>
<script src="{{ media_url }}/js/carousel.js"></script>
<script def src="{{ media_url }}/js/custom.js"></script>
{% block javascript %}{% endblock %}
<!-- end: Java Script -->

</body>
</html>
