{% extends 'base.html' %}
{% load i18n %}
{% load extras %}
{% block script_head %}
   <script>
      window.twttr = (function (d,s,id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
        js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
      }(document, "script", "twitter-wjs"));
   </script>
{% endblock %}

{% block title %}{% trans 'Express Your Gratitude!' %}{% endblock %}
{% block content_title %}<h2 class="content-title">{% trans 'Express Your Gratitude!' %}</h2>{% endblock %}

{% block content %}

<div id="fb-root"></div>
   <script>
         function publishGratitude(gratitudeTextId, gratitudeDateId) {
            var gratitudeDate = document.getElementById(gratitudeDateId).textContent; 
            var gratitudeText = document.getElementById(gratitudeTextId).textContent; 
            var gratitudeId = document.getElementById(gratitudeTextId).getAttribute("data-gratitude-id"); 
            console.log("Gratitude id: " + gratitudeId);
            var gratitudeCaption = 'My gratitude for ' + gratitudeDate;
            facebookShare(gratitudeText, gratitudeCaption, gratitudeId);
         }

         function facebookShare(gratitudeText, gratitudeCaption, gratitudeId) {
            var obj = {
               method: 'feed',
               display: 'popup',
               name: gratitudeText,
               caption: gratitudeCaption,
               description: 'From artofgratitude.com &mdash; a free site for cultivating the daily practice of gratitude.',
               link: '{{base_url}}',
               picture: '{{media_url}}/img/art_of_gratitude_leaf_large_square-128x128.png'
            };

            function callback(response) {
               if (response) {
                  $.ajax({
                    url: "/app/gratitude/api/v1/action/share_gratitude_facebook/" + gratitudeId + "/?format=json",
                    context: document.body
                  });
               }
           }

           FB.ui(obj, callback);
         }

         function facebookSendThanks(gratitudeText, gratitudeCaption, gratitudeId) {
            var obj = {
               method: 'send',
               display: 'popup',
               caption: 'a free site for cultivating the daily practice of gratitude.',
               link: '{{base_url}}/?source=thanks',
            };

           function callback(response) {
              if (response) {
                 $.ajax({
                   url: "/app/gratitude/api/v1/action/send_thanks_facebook/?format=json",
                   context: document.body
                 });
              }
           }

           FB.ui(obj, callback);

         }

         function facebookShareSite() {
            var obj = {
               method: 'feed',
               display: 'popup',
               name: 'The Art of Gratitude',
               caption: 'a free site for cultivating the daily practice of gratitude.',
               link: '{{base_url}}',
               picture: '{{media_url}}/img/art_of_gratitude_leaf_large_square-128x128.png'
            };

            function callback(response) {
               if (response) {
                  $.ajax({
                    url: "/app/gratitude/api/v1/action/share_site_facebook/?format=json",
                    context: document.body
                  }).done(function() {
                     $("#share-artofgratitude-site").alert('close');
                  });
               }
            }

           FB.ui(obj, callback);
         }
</script>

<div class="profile-preferences">
   <a href="{{site_prefix}}/accounts/{{ user.username }}">Preferences</a><br>
</div>
<div class="row">
   <div class="span9">
      <h2 class="profile-header">{{ user.first_name }} {{ user.last_name }} - Your Gratitudes</h2>
      <p/>
      <ol reversed start="{{gratitudes_length}}">
         {% if form_fields|length > 0 %}
            <p/>
            <p class="profile-text profile-item"><i>{% trans "Enter your gratitudes for today in the boxes below (remember to start with 'I am grateful for...'):" %}</i><p/>
            <br>
            <form action="{{ site_prefix }}/profile/{{ user.username }}" method="post">
               {% for field in form_fields %}
               {{ field }}<br>
               {% endfor %}
                  <input class="btn btn-primary" type="submit" value="Save your gratitudes!"/>
            </form>
         {% else %}
            {% if not action_shared_site %}
               <div id="share-artofgratitude-site" class="alert alert-success">
                  <span><span id="twitter-share-site"><a href="https://twitter.com/share" class="twitter-share-button twitter-share-site" data-text="The Art of Gratitude: a free site for cultivating the daily practice of gratitude." data-hashtags="ArtOfGratitude" data-url="https://artofgratitude.com" data-count="none" data-lang="en">Tweet</a></span><input id="fb-share-artofgratitude-site-button" type="image" src="{{site_prefix}}/media/img/fb-share.png" class="profile-fb-share" alt="Post to Facebook" onclick="facebookShareSite()" />Share the Art of Gratitude website (this won't share any of your gratitudes below)</span><button type="button" class="close" data-dismiss="alert">&times;</button>{{ message }}<br>
               </div>
            {% endif %} 
            <p class="thank-text">SEND THANKS!<br>Completed your gratitudes for the day?<br>How about expressing your thanks to someone?&nbsp;&nbsp;&nbsp;<a id="fb-share-artofgratitude-send-thanks-button" class="btn btn-primary" alt="Send Thanks via Facebook" onclick="facebookSendThanks()">Send Thanks to a Friend</a></p><p>&nbsp;</p>
         {% endif %}
         {% for group in gratitudes %}
            <div class="well">
               <div class="profile-text profile-day">
                  <i><div id="gratitude-date-{{forloop.counter}}">{{group.0.created|date:"l, F jS, Y"}}</div></i>
               </div>
               {% for gratitude in group %}
                  <div class="row-fluid">
                     <div class="profile-item">
                        <div class="span12">
                           <li class="profile-text" value="{{gratitude.listValue}}">
                              <span id="gratitude-text-{{forloop.parentloop.counter}}-{{forloop.counter}}" data-gratitude-id="{{gratitude.id}}">{{ gratitude.text }}</span> 
                              {% if forloop.parentloop.counter < 5 %}<span id="gratitude-share-buttons" class="pull-right {% if forloop.parentloop.counter > 1 %}profile-hidden{% endif %}"><a href="https://twitter.com/share" class="twitter-share-button twitter-share-gratitude" data-text="{{gratitude.text}}" data-hashtags="ArtOfGratitude" data-url="https://artofgratitude.com" data-count="none" data-lang="en" data-gratitude-id="{{gratitude.id}}">Tweet</a><input id="gratitude-fbshare-{{forloop.parentloop.counter}}-{{forloop.counter}}" type="image" src="{{site_prefix}}/media/img/fb-share.png" class="profile-fb-share" alt="Post to Facebook" onclick="publishGratitude('gratitude-text-{{forloop.parentloop.counter}}-{{forloop.counter}}','gratitude-date-{{forloop.parentloop.counter}}')" /></span>{% endif %}
                           </li>
                        </div>
                     </div>
                  </div>
               {% endfor %}
            </div>
         {% endfor %}
         </ol>
      <p/>
      {% if form_fields|length <= 0 %}
         <p class="profile-text profile-item"><i>{% trans "Look for your daily gratitude email in your inbox tomorrow!" %}</i><p/>
      {% endif %}
   </div> 
   <div class="span2"><div class="daybadge">Day<br><h2>{{days_so_far}}</h2>
      <span class="centered">
         {% if days_so_far <= days_of_gratitude %}
            of {{days_of_gratitude}}
         {% else %}
            &nbsp;
         {% endif %}
      </span>
   </div></div>
   <div class="span1"></div>
</div>
{% endblock %}
{% block content-footer %}
{% endblock %}
{% block javascript %}
   <script>
      window.fbAsyncInit = function() {
        console.log('Initializing Facebook SDK...');
        FB.init({appId: '{{facebook_app_id}}', status: true, cookie: true,
                 xfbml: true});
        console.log('Facebook init done.');

      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
   </script>
   <script>
      twttr.ready(
         function (twttr) {
            twttr.events.bind('tweet', function(event) {
               var gratitudeId = event.target.parentNode.getAttribute("data-gratitude-id");
               if (gratitudeId != null) {
                  $.ajax({
                    url: "/app/gratitude/api/v1/action/share_gratitude_twitter/" + gratitudeId + "/?format=json", 
                    context: document.body
                  });
               } else {
                  $.ajax({
                    url: "/app/gratitude/api/v1/action/share_site_twitter/?format=json", 
                    context: document.body
                  });
                  $("#share-artofgratitude-site").alert('close');
               };
            });
      });
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
   </script>   
{% endblock %}
