{% extends 'base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'Express Your Gratitude!' %}{% endblock %}
{% block content_title %}<h2 class="content-title">{% trans 'Express Your Gratitude!' %}</h2>{% endblock %}

{% block content %}

<div>
  <p>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
  </p>
</div>

<h2>{{ user.first_name }} {{ user.last_name }}</h2>
<ol>
{% for gratitude in gratitudes %}
   <li>{{ gratitude.text }}</li>
{% endfor %}
</ol>
<p/>
{% if form_fields|length > 0 %}
<form action="{{ site_prefix }}/profile/{{ user.username }}" method="post">
   {% for field in form_fields %}
      {{ field }}<br/>
   {% endfor %}
   <br/>
   <br/>
   <br/>
   <br/>
      <input type="submit"/>
</form>
{% else %}
<p>{% trans "Thank you for entering your gratitudes for today! Come back tomorrow to enter more!" %}<p/>
{% endif %}
{% endblock %}
