{% extends 'base.html' %}
{% load i18n %}
{% load extras %}

{% block title %}{% trans 'Express Your Gratitude!' %}{% endblock %}
{% block content_title %}<h2 class="content-title">{% trans 'Express Your Gratitude!' %}</h2>{% endblock %}

{% block content %}
<div id="fb-root"></div>
<div class="row">
   <div class="span10"></div>
   <div class="span1">
      <a href="{{site_prefix}}/accounts/{{ user.username }}">Preferences</a> 
   </div>
   <div class="span1"></div>
</div>
<div class="row">
   <div class="span9">
      <h2 class="profile-header">{{ user.first_name }} {{ user.last_name }} - Your Gratitudes:</h2>
      <p>
      <ol reversed start="{{gratitudes_length}}">
         {% if form_fields|length > 0 %}
            <form action="{{ site_prefix }}/profile/{{ user.username }}" method="post">
               {% for field in form_fields %}
               {{ field }}<br>
               {% endfor %}
                  <input class="btn btn-primary" type="submit" value="Save your gratitudes!"/>
            </form>
         {% endif %}
         {% for group in gratitudes %}
            <div class="well">
               <div class="profile-text profile-day"><i>{{group.0.created|date:"l, F jS, Y"}}</i></div>
            {% for gratitude in group %}
            <li class="profile-text profile-item"><div id="profile-item-{{forloop.counter}}">{{ gratitude.text }}</div></li> 
            {% endfor %}
            </div>
         {% endfor %}
         </ol>
      <p/>
      {% if form_fields|length <= 0 %}
      <p class="profile-text profile-item"><i>{% trans "Look for your daily gratitude email in your inbox tomorrow!" %}</i><p/>
      {% endif %}
   </div> 
   <div class="span3"></div>
</div>
{% endblock %}
{% block content-footer %}
{% endblock %}
{% block javascript %}
</script>
{% endblock %}
