{% extends 'base_signup.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content_title %}<h2 class="content-title">The Art of Gratitude - Sign Up</h2>{% endblock %}

{% block content %}

<div class="row">
   <div class="span5">
      Create an account (Or  <p><a href="{{site_prefix}}/login/facebook/"><img src="{{site_prefix}}/media/img/login-with-facebook-button.png" alt="login-with-facebook-button" /></a></p>
      {% crispy form %}
   </div>
   <div class="span1"></div>
   <div class="span3">
      <p>Or &nbsp; <a class="btn btn-primary" href="{% url socialauth_begin 'facebook' %}">Log in with Facebook</a></p>
   </div>
</div>

{% endblock %}
