{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<div class="row">
<div class="span6">
<form action="" method="post">
  {% csrf_token %}
  <fieldset>
     <legend>{% trans "Log In" %}</legend>
     {{ form.non_field_errors }}
     {% for field in form %}
     {{ field.errors }}
     {% comment %} Displaying checkboxes differently {% endcomment %}
     {% if field.name == 'remember_me' %}
        {{ field }}
     {% else %}
        <p>
        {{ field.label_tag }}
        {{ field }}
        </p>
     {% endif %}
  {% endfor %}
  {% if stashed %}
     <input type="hidden" value="{{stash_id}}" />
  {% endif %}
  </fieldset>
  <p><input class= "btn btn-primary" type="submit" value="{% trans "Log In" %}" /></p>
  <p>Or<p/>
  <p><a href="{{site_prefix}}/login/facebook/"><img src="{{site_prefix}}/media/img/login-with-facebook-button.png" alt="login-with-facebook-button" /></a></p>
  {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
</form>
  <p class="forgot-password"><a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a></p>
</div>

<div class="span5">
<br><br><br><br>
<p>Or <a href="/" title="{% trans 'Create an Account' %}">{% trans "Create an Account" %}</a></p>
</div>


</div>
{% endblock %}
