{% load i18n %}{% autoescape off %}{% load url from future %}
<html>
   <body>
      {% trans "Hi" %} {{ user.first_name }}! <br/>
      <p>{% trans "Your account is almost ready!" %}</p>
      <p>{% trans "To complete the signup process and get started on your 30 days of gratitude, fill out the form below with three things you are grateful for, and hit submit!" %}</p>
      <p>{% trans '(Remember to type "I am grateful for ..." when you start out each entry.' %}</p>

      <form action="{{ protocol }}://{{ settings.SITE }}{% url 'gratitude_activate' activation_key %}" method="post">
          <input name="entry0" maxlength="5000" type="text" autofocus="autofocus" placeholder="I am grateful for..." id="id_entry0" tabindex="1" /><br/>
          <input name="entry1" maxlength="5000" placeholder="I am grateful for..." type="text" id="id_entry1" tabindex="2" /><br/>
          <input name="entry2" maxlength="5000" placeholder="I am grateful for..." type="text" id="id_entry2" tabindex="3" /><br/>
          <br/>
          <input type="submit"/>
      </form>

      &mdash;{% trans "The" %} {{ site.name }} {% trans "Team" %}
   </body>
</html>

{% endautoescape %}

