{% load i18n %}{% autoescape off %}{% load url from future %}

<html>
<body>
<h2>{% trans "Here is your daily gratitude journal." %}</h2>

{% blocktrans %}
<p>
“What you focus on expands, and when you focus on the goodness in your life, you create more of it. Opportunities, relationships, even money flowed my way when I learned to be grateful no matter what happened in my life.”
</p>
<p>
- Oprah Winfrey
</p>
{% endblocktrans %}
<form method="post" action="http://{{site.domain}}/profile/{{user.username}}">
   {% for field in form_fields %}
      {{ field }}<br/>
   {% endfor %}
   <br/>
   <br/>
   <br/>
   <br/>
   {% if form_fields|length > 0 %}
      <input type="submit"/>
   {% endif %}
</form>

<a href="http://{{site.domain}}/unsubscribe/{{user.username}}">Unsubcribe</a>

{% trans "Sincerely" %},<br/>
{% trans "The Art of Gratitude team" %} <br/>
{% endautoescape %}
</body>
</html>
