{% load i18n %}{% autoescape off %}{% load url from future %}

<html>
<body>
<h2>{% trans "Here is your daily gratitude journal." %}</h2>

{% if quote_text != None %}
<p>
{{ quote_text }}
</p>
<p>
&#8212;{{ quote_author }}
</p>
{% endif %}
<form method="post" action="http://{{site.domain}}{{site_prefix}}/profile/{{user.username}}">
   {% for field in form_fields %}
      {{ field }}<br/>
   {% endfor %}
   <br/>
   <br/>
   <br/>
   <br/>
   {% if form_fields|length > 0 %}
      <input type="submit"/>
   {% endif %}
</form>

<a href="http://{{site.domain}}{{site_prefix}}/unsubscribe/{{user.username}}">Unsubscribe</a>

{% trans "Sincerely" %},<br/>
{% trans "The Art of Gratitude team" %} <br/>
</body>
</html>
{% endautoescape %}
